---
layout: layout.njk
title: Homepage
---

<h1 class="font-title bg-[linear-gradient(#b11c57,_#e17fa2)] bg-clip-text text-5xl text-center leading-[1.5] drop-shadow-secondary drop-shadow-[2px_2px_1px]" style="-webkit-text-fill-color: transparent;">{{ general.title }}</h1>

<div class="w-[65%] max-w-[300px] mx-auto">
    <img src="https:{{ general.nicosImage.fields.file.url }}" alt="Nicolas Gay" class="w-full border-3 border-secondary drop-shadow-primary drop-shadow-[0_0_40px] mt-6">
</div>

<p class="text-white mt-10 text-[18px] max-w-[420px] mx-auto">{{ general.description }}</p>

<h2 class="mt-10 mb-6">{{ general.projectsTitle }}</h2>
<ul class="grid grid-cols-2 gap-3">
    {% for project in projects %}
        <li>
            <img src="https:{{ project.fields.image_main.fields.file.url }}" alt="{{ project.fields.title }}" class="w-full aspect-square object-cover" style="mask-image: linear-gradient(0deg,rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 50%);">
            <a href="/project/{{ project.fields.title | slugify }}" class="block text-[20px] leading-[1.1] -translate-y-6">{{project.fields.title}}</a>
        </li>
    {% endfor %}
</ul>

<script type="text/javascript">
    console.log("Hello world");
    console.log({{ general | dump(2) | safe }});
</script>